```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temp files
*.log
*.tmp

# Environment
.venv/
venv/
.env
.env.local
*.env.*

# Dependencies
pip-tools/
.isort.cfg
.coverage
coverage/
htmlcov/

# Editors
.vscode/
.idea/
*.swp
*.swo

# Build and distribution
dist/
build/
*.egg-info/
```